.button-icon {
   width: 60px;
   height: 60px;
   padding: 5px;
   border: 1px solid #ddd;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   -o-border-radius: 6px;
   -ms-border-radius: 6px;
   border-radius: 6px;
   -moz-box-shadow: 0 3px 5px #ccc;
   -webkit-box-shadow: 0 3px 5px #ccc;
   -o-box-shadow: 0 3px 5px #ccc;
   -ms-box-shadow: 0 3px 5px #ccc;
   box-shadow: 0 3px 5px #ccc;
}

.button-icon:hover {
   margin: 5px auto 3px;
   -moz-box-shadow: 0 0 1px #eee;
   -webkit-box-shadow: 0 0 1px #eee;
   -o-box-shadow: 0 0 1px #eee;
   -ms-box-shadow: 0 0 1px #eee;
   box-shadow: 0 0 1px #eee;
}

.map {
   height: 350px;
}

.button-plain {
   width: 60px;
   height: 60px;
}
